@font-face {
    font-family: BaroqueScript;
    src: url(BaroqueScript.ttf);
}


body{
  background-color: #8EE1C0;
  font-family: 'Open Sans', sans-serif;
}

#container{
  text-align: center;
}

.react-count-down {
    margin: 0;
    padding: 2em;
}

.react-count-down .prefix {
  font-size: 4em;
  font-weight: 200;
  line-height: 1.5;

  display: block;
    margin: 4rem 0;
  color: #fff;  
}

 .prefix-2 {
  font-size: 350%;
  display: block;
  font-family: BaroqueScript;
  margin: 4rem 0;
  font-weight: 100;
  line-height: 1.5;
  color: #fff;  
}

#checker{
    margin: 3rem 0;
    font-size: 400%;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF;  

}

@media screen and (max-width: 480px) {
   .prefix-2 {
      font-size: 130%;
  }
  #checker{
   font-size: 180%; 
  }

  #date{
    font-size: 120% !important;
  }
   
}


 #date {
  font-size: 200%;
  font-weight: 200;
  line-height: 1.5;
  margin: 2rem 0;
  color: #fff;
}

#info {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 12px 0 0 12px;
}
h1 {
  color: #eeeeee;
  font-size: 21px;
  font-weight: normal;
  margin: 0;
}
p, a {
  margin: 3px 0 0 0;
  color: #cccccc;
  font-size: 13px;
}

h2{
  position: absolute;
  top: -120px;
  left: -120px;
  font-family: Tahoma;
  font-weight: bold;
  font-size: 80px;
  -webkit-font-smoothing: antialiased;
  color: transparent;
  text-shadow:
     2px  2px 1px #cc6,
     0px  3px 1px #c6c,
    -2px  2px 1px #6cc,
    -3px  0px 1px #c66,
    -2px -2px 1px #6c6,
     0px -3px 1px #66c,
     2px -2px 1px #ccc,
     3px  0px 1px #666;
}


.img-holder{
  width: 210px;
  height: 210px;
  border-radius: 100%;
  margin: 0 auto;
  background-repeat: none;
  background-image: url('https://scontent-amt2-1.xx.fbcdn.net/hphotos-xat1/t31.0-8/10623469_950959578315210_5556357374809134384_o.jpg');
  background-position: center -10px;
  background-size: 97%;
}
